/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #F4F3F5;
	overflow: auto;
}

.purple-bg {
	width: 100%;
	height: 8.88888888888889vh;
	background-color: #6200EA;
	
	display: table;
}

.white-bg {
	width: 100%;
	height: 8.88888888888889vh;
	background-color: white;
	display: table;
}

.articles {
	width: 45.625vw;
	height: 38.888888888888886vh;
	background-color: white;
	margin-top: 3.3333333333333335vh;
	border-radius: 15px;
}

.sidearticles {
	width: 21.875vw;
	height: 66.66666666666667vh;
	margin-top: 3.3333333333333335vh;
}

.section1, .section2 {
	display: inline-block;
	vertical-align: top;
	margin-top: 1.1111111111111112vh;
	margin-right: 3.3333333333333335vh;
	margin-bottom: 4.444444444444445vh;
}

.section1 {
	margin-left: 15.312500000000002vw;
}

.main {
	width: 100%;
	

	
}

.navbar {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.navbar a {
	text-decoration: none;
	margin-left: 32px;
	margin-right: 32px;
}

.header {
	background-color: pink;
}

.header-stuff {
	display: table-cell;
	vertical-align: middle;
	height: 100%;

	width: 100%;
}

.button-wrapper {
	width: 69.375vw;
	
	background-color: gray;
	margin: auto;
}


.button {
	float: left;
	background-color: white;
	width: 10vw;
	height: 4.444444444444445vh;
	border-radius: 24px;
	opacity: 1;

	margin-top: 0.8333333333333334vh;
	font-size: 15px;
	font-style: bold;
	text-decoration: none;
	border: none;
}



#logo {
	height: 5.555555555555555vh;
	width: 11.25vw;
	margin-left: 19.0625vw;
}

.bg-50 {
	background-color: #6200EA;
	height: 6.666666666666667vh;
	border-radius: 15px 15px 0px 0px;
}

.article2, .article3 {
	height: 17.77777777777778vh;
	width: 21.875vw;
	display: inline-block;
	vertical-align: top;
}

.article3 {
	float: right;
}

.small-pic {
	width: 120px;
	height: 120px;

	border-radius: 10px;
	object-fit: cover;
}

.side-small-pic {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	object-fit: cover;
}

.article5 {
	height: 74.44444444444444vh;
}

.just-img {
	height: 35.55555555555556vh;
	background: transparent url(assets/wsc-practice-assets/blog/sean-o-KMn4VEeEPR8-unsplash.jpg) 0% 0% no-repeat padding-box;
	background-size: cover;
	border-radius: 15px 15px 0px 0px;
	opacity: 1;
}

.wrapper {
	background: url(assets/wsc-practice-assets/blog/roberto-nickson-5ui0tfMC5ts-unsplash.jpg) 0% 0% no-repeat padding-box;
	background-size: cover;
	width: 45.625vw;
	height: 38.888888888888886vh;
	border-radius: 15px;
	opacity: 1;

}




.bg-160 {
	height: 17.77777777777778vh;
	background-color: white;
	width: 100%;
	border: 1px solid black;
	padding-left: 20px;
	padding-top: 20px;
}

.bg-60 {
	height: 6.666666666666667vh;
	background-color: white;
	border: 1px solid black;
}

.bg-50s {
	height: 5.555555555555555vh;
	background-color: white;
	border: 1px solid black;
}

.bg-60d {
	height: 6.666666666666667vh;
	background-color: white;
	border-radius: 0px 0px 15px 15px;
	border: 1px solid black;
}
.smallpics {
	width: 120px;
	height: 120px;
	background-color: white;
	border-radius: 10px;
	opacity: 1;
	display: inline-block;
}
/*------------------------------ Small Pictures------------------ */
/*.sm-wrapper1 {
	background: url(assets/wsc-practice-assets/blog/younes-barri-zsHPnX2zstw-unsplash.jpg) 0% 0% no-repeat padding-box;
	background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 10px;

	!!!!!
		
	!!!!
}
*/

.sm-wrapper2 {
	background: url(assets/wsc-practice-assets/blog/boxed-water-is-better-cXJCpV2Jv1Y-unsplash.jpg) 0% 0% no-repeat padding-box;
	background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.sm-wrapper3 {
	background: url(assets/wsc-practice-assets/blog/marco-oriolesi-wqLGlhjr6Og-unsplash.jpg) 0% 0% no-repeat padding-box;
	background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.sm-wrapper4 {
	background: url(assets/wsc-practice-assets/blog/hal-gatewood-OgvqXGL7XO4-unsplash.jpg) 0% 0% no-repeat padding-box;
	background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.sm-wrapper5 {
	background: url(assets/wsc-practice-assets/blog/tom-barrett-M0AWNxnLaMw-unsplash.jpg) 0% 0% no-repeat padding-box;
	background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.sm-wrapper6 {
	background: url(assets/wsc-practice-assets/blog/nasa-Q1p7bh3SHj8-unsplash.jpg) 0% 0% no-repeat padding-box;
	background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.text {
	width: 170px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 20px;
}

.unknown {
	display: inline-block;
	padding-top: 20px;
	padding-left: 20px;
}

.text2 {
	width: 170px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

/* ------------------------- FONT STYLES AND OTHER SHITS----------------------------------------*/

p, h1, h2, h3, h4, a {
	font-family: 'Montserrat', sans-serif;
}

.wrapper p {
	width: 610px;
	height: 90px;
	text-align: left;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;

}

h3 {
	color: #6200EA;
	font-weight: bold;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	opacity: 1;
}

h2 {
	font-size: 2.5rem;
	color: white;
	font-weight: bold;
}

.navbar a {
	font-size: 12px;
	font-weight: bold;
	color: #211138;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	opacity: 1;
	text-align: left;
	line-height: 15px;
}

.wrapper h3, .article4 h3, .article5 h3, .article6 h3 {
	text-align: left;
	font-size: 14px;
	letter-spacing: 2.4px;
	color: #FFFFFF;
	text-transform: uppercase;
	opacity: 1;
}

.article4 h3, .article5 h3, .article6 h3 {
	color: gray;
}

.article4 h2, .article5 h2, .article6 h2 {
	color: black;
	font-weight: bold;
}

.text p {
	margin-top: 20px;
}

.bg-50 p {
	text-align: center;

}

.text2 p {

	margin-top: 20px;
}

.bg-50 {
	padding-top: 2.4930747922437675vh;
}

.button h3 {
	font-size: 12px;
}

.bg-60d {
	padding-top: 2.4930747922437675vh;
}

.bg-60d p {
	text-align: center;
	color: #B2ACBA;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
}

.bg-50s {
	text-align: left;
	padding-left: 30px;
}

.bg-50 p {
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
}

.bg-50s h4 {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.4px;
	color: #211138;
	text-transform: uppercase;
	opacity: 1;
	margin-top: 1.9444444444444444vh;
	line-height: 15px;
}

.main-text {
		padding-top: 6.666666666666667vh;
		padding-left: 3.75vw;
}

.main-text h3, h2, p, button {
	margin-bottom: 1.6666666666666667vh;
}

.main-text2 p {
	font-size: 20px;
	letter-spacing: 0px;
	opacity: 1;
	line-height: 30px;
	height: 10vh;
	text-align: left;

}

.main-text2 button {
	width: 10vw;
	height: 4.444444444444445vh;
	border-radius: 24px;
	border-color: #6200EA;
	opacity: 100%;
}

.main-text2 {
	padding-top: 6.666666666666667vh;
	padding-right: 3.75vw;
	padding-bottom: 6.666666666666667vh;
	padding-left: 3.75vw;
}

.main-text2 h3, h2, p, button {
	margin-bottom: 1.6666666666666667vh;
}

.article4 {
	position: relative;
}

.main-text3 {
	width: 38.125vw;
	height: 26.666666666666668vh;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.articles button {
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 2.4px;
		color: #6200EA;
		font-weight: bold;
		text-transform: uppercase;
		width: 10vw;
		height: 4.444444444444445vh;
		border-radius: 24px;
		border: 2px solid #6200EA;
		background-color: transparent;
	}
.article1 button {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
}
.footer {
	display: table;
		height: 11.11111111111111vh;
	width: 100%;
	background-color: #211138;
}
.footer-bg {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	font-weight: : bold;
	line-height: 15px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	color: #B2ACBA;
}

.footer-bg p2 {
	color: #6200EA;
}

